.instructions{
    text-align: center;
}

.graphInput{
    text-align: center;
}

.visual{
    width: 900px;
}

.container {
    display: flex;
}

.pseudocode{
margin-right: auto;
}

.buttonstart{
    background-color:rgb(224, 130, 96);
    border-radius: 12px;
    width: 300px;
    height:40px;
    color:black;
    font-size: large;
}

.buttonresume{
    background-color: green;
    border-radius: 20%;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    color: white;
    font-size: medium;
}
.buttonpause{
    background-color: red;
    border-radius: 20%;
    margin-left: 50px;
    width: 100px;
    height: 30px;
    color: white;
    font-size: medium;
}

.buttonreset{
    background-color: black;
    color: white;
    border-radius: 20%;
    margin-left: 50px;
    width: 100px;
    height: 30px;
    font-size: medium;
}